<h1>This is the <%= title %> Page</h1>
<form action="/users/create-session" method="POST">
    <input type="text" name="email" placeholder="Enter Email" required />
    <input type="password" name="password" placeholder="Password" required />
    <button type="submit">Sign In</button>
</form>