#layout-footer {
    height: 10vh;
    color: white;
    div {
        padding: 5px 0;
    }
    a {
        color: white;
        text-decoration: none;
    }
    background: grey;
    padding: 0 10px;
    display: flex;
    justify-content: flex-start;
    .footer-nav {
        ul {
            list-style: none;
        }
    }
}
